 <style>
 body {
    font: 13pt Arial, Helvetica, sans-serif; /* Шрифт теста */
    background: #e1dfb9; /* Цвет фона */
   }
   h2 {
    font-size: 18px; /* Размер шрифта в заголовке */
    color: #080808; /* Цвет заголовка */
    margin-top: 0; /* Отступ сверху */
   }
   .container {
    width: 600px; /* Ширина слоя */
    margin: 0 auto; /* Выравнивнить весь блок по центру */
    background: #f0f0f0; /* Цвет фона левой колонки */
   }
   .header {
    font-size: 38px; /* Размер текста в шапке */
    text-align: center; /* Выравнивание текст шапки по центру */
    padding: 5px; /* Отступы внутри блока шапки */
    background: #8fa09b; /* Цвет фона шапки */
    color: #fff; /* Цвет текста */
   }
   .sidebar {
    margin-top: 10px;
    width: 110px; /* Ширина блока */
    padding: 0 10px; /* Отступы внутри левого блока */
    float: left; /* Обтекание блока по правому краю */
   }
   .content {
    margin-left: 130px; /* Отступ слева */
    padding: 10px; /* Отступы внутри правого блока */
    background: #fff; /* Цвет фона правого блока */
   }
   .footer {
    background: #8fa09b; /* Цвет фона нижнего блока-подвала */
    color: #fff; /* Цвет текста подвала */
    padding: 5px; /* Отступы внутри блока */
    clear: left; /* Отменяем действие float */
   }
  </style></head><!-- закрывающий тег области заголовка документи --> 

