body{background:#eee;margin:0;padding:0}
.example{background:#FFF;width:700px;border:2px #000 solid;margin:20px auto;padding:18px;-moz-border-radius: 3px;-webkit-border-radius: 3px}
#content {
    position:relative;
    height:400px;
	text-align: justify;
	text-face: "Arial";
	text-indent: 40px; 
	color: #DAA520;
}
#content .page {
    position:absolute;
    top:0px;
}
.pagination{
    padding: 2px;
}
.pagination ul{
    margin: 0;
    padding: 0;
    text-align: justify;
	text-face: "Arial";
    font-size: 18px;
}
.pagination li{
    list-style-type: none;
    display: inline;
    padding-bottom: 1px;
}
.pagination a, .pagination a:visited{
    padding: 0 5px;
    border: 1px solid #9aafe5;
    text-decoration: none;
	text-face: "Arial";
    color: #2e6ab1;
}
.pagination a:hover, .pagination a:active{
    border: 1px solid #2b66a5;
    color: #E6E6FA;
    background-color: #4682B4;
}
.pagination a.prevnext{
    font-weight: bold;
}
.page_number {
    border: 1px solid #9aafe5;
    color: #4682B4;
    padding:5px;
    text-align: center;
	text-face: "Arial";
    width: 20px;
}
